* {
	font-weight: 300;
	font-size: 14px;
}

.addpost {
	margin-left: auto;
	margin-right: auto;
}

.addpost__icon {
	padding: 8px;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
}

.addpost__form {
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-top: 0px;
	padding: 8px;
	width: 250px;
	background-color: white;
	border: 1px solid #bababa
}

.addpost__image {
	text-align: center;
	margin: 8px;
	outline: none;
	border-radius: 12px;
	background-color: whitesmoke;
	border: 1px solid #bababa;
}

.addpost__caption {
	text-align: center;
	margin: 8px;	
	outline: none;
	border-radius: 12px;
	background-color: whitesmoke;
	border: 1px solid #bababa;
}

.addpost__submit {
	margin: 8px;
	margin-bottom: 4px;
	margin-left: auto; 
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	outline: none;
	border: 1px solid #bababa;
	background-color: black;
	color: white;
}