.posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.post {
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color: white;
	border: 1px solid #bababa;
	width: 80%;
	text-decoration: none;
	overflow: hidden;
}

.post__image {
	width: 100%;
	height: auto;
}

.post__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.post__caption {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
}

.button__div {
	padding-left: 16px;
	padding-right: 16px;
}