* {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #bababa;
}

.header__right {
	margin: 8px;
	padding: 8px;
}

.header__logo {
	color: black;
	text-decoration: none;
	margin: 8px;
	margin-left: 16px;
	padding: 8px;
	font-weight: 600;
}

.header__home {
	color: black;
	text-decoration: none;
	padding: 8px;
	margin: 8px;
	font-weight: 600;
}

.header__myProfile {
	color: black;
	text-decoration: none;
	padding: 8px;
	margin: 8px;
	font-weight: 600;
}

.header__searchbar {
	outline: none;
	text-align: center;
	margin-top: auto;
	border: 1px solid #bababa;
	margin-bottom: auto;
	border-radius: 16px;
	height: 30px;
	width: 50%;
}