.posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile {
	display: flex;
	flex-direction: row;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.profile__name {
	font-weight: 700;
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 16px;
}

.profile__down {
	display: flex;
	flex-direction: row;
}

.follow__button {
	color: white;
	margin: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(0, 90, 255);
	outline: none;
	border-radius: 12px;
	border: 1px solid #bababa
}

.post__author {
	outline: none;
	text-decoration: none;
	padding: 10px;
	margin: 4px;
	color: black;
}

.profile__right {
	display: flex;
	flex-direction: column;
}

.profile__pic {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	margin-top: 4px;
	border-radius: 50px;
	border: 1px solid #bababa
}

.profile__info {
	font-weight: 700;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 20px;
}

.post {
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color: white;
	border: 1px solid #bababa;
	width: 80%;
	text-decoration: none;
	overflow: hidden;
}

.post__image {
	width: 100%;
	height: auto;
}

.post__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.post__caption {
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 16px;
	margin-right: 16px;
	padding-top: 4px;
}

.button__div {
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 16px;
	margin-right: 16px;
}

.comment__form {
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-top: 0px;
	padding: 8px;
	width: 250px;
	background-color: white;
	border: 1px solid #bababa;
}

.comment__value {
	text-align: center;
	margin: 8px;	
	outline: none;
	border-radius: 12px;
	background-color: whitesmoke;
	border: 1px solid #bababa;
}

.comment__button {
	margin: 8px;
	margin-bottom: 4px;
	margin-left: auto; 
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	outline: none;
	border: 1px solid #bababa;
	background-color: black;
	color: white
}